/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/x86/Debug/Felmata.csproj.FileListAbsolute.txt
/obj/x86/Debug/Felmata.exe
/obj/x86/Debug/Felmata.pdb
/bin/Debug/Felmata.exe
/bin/Debug/Felmata.exe.config
/bin/Debug/Felmata.pdb
/bin/Debug/Felmata.vshost.exe
/bin/Debug/Felmata.vshost.exe.config
/bin/Debug/Felmata.vshost.exe.manifest
/Properties/AssemblyInfo.cs
